
.containerInicio{
    
    width: 100%;
    
    

}

.containerIntro{
    background-color: lightgrey;
    border-radius: 5px;
    width: 700px;
    margin: 10px;
    padding: 10px;
    margin-left: 250px;
    
}

.containerProductos{
    background-color: lightgrey;
    border-radius: 5px;
    width: 1125px;
    padding: 10px;
    margin: 10px;
    margin-left: 50px;
    margin-top: 20px;
    transition: opacity 0.3s ease;
}

.containerProductos h4{

    padding: 10px;
    
}
.containerProductos img{

    padding: 10px;
    
}

.containerProductos img:hover{
    transform: scale(1.05);
    opacity: 0.8;
    
}